<% content_for :title do %>About<% end %>
<div class="about">
	<div class="wrapper">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>ABOUT.</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>
					</div>
				</div>
			</div><!-- landing content -->
		</div>
	</div>
</div>