<% content_for :title do %>About<% end %>




<div class="header-wrapper about-header">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>So what is 'The Biz'?</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>The Biz is a cloud-based small business accounting solution built on the founddation of finance: your bank.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
</div><!-- header wrapper-->

<div class="about-body">
		<div class="container">
				<div class="row first-row">
					<div class="overview-content">
						<div class="col-md-5">
							<h4>Overview</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="main-button">
							  <div class="btn" "btn-lg">View Features</div>
							</div>

						</div>
				</div><!-- overview content -->
					<div class="col-md-7">
						<div class="banktel-wireframe">
							<%=image_tag('banktel-wireframe.png', :class=>"img-responsive", :size => '694x405')%>
						</div>
					</div>
			</div><!-- row -->


				<div class="row second-row">
					<div class="overview-content">
						<div class="col-md-5">
							<h4>How It Works</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="main-button">
							  <div class="btn" "btn-lg">View Features</div>
							</div>

						</div>
				</div><!-- overview content -->
					<div class="col-md-7">
						<div class="table-responsive">
						    <table class="table">
						        <thead>
						            <tr>
						                <th>Benefits for the Bank</th>
						                <th>Benefits for the Bank</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						                <td>Build Subscription Based Revenue</td>
						                <td>Table cell</td>
						            </tr>
						            <tr>
						                <td>2</td>
						                <td>Table cell</td>
						            </tr>
						            <tr>
						                <td>3</td>
						                <td>Table cell</td>
						            </tr>
						            <tr>
						                <td>4</td>
						                <td>Table cell</td>
						            </tr>

						        </tbody>
						    </table>
						</div>
					</div>
			</div><!-- row -->

		</div><!-- container-->
</div><!-- about body-->
<%= render 'layouts/footer' %>

