<% content_for :title do %>About<% end %>




<div class="header-wrapper about-header">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>So what is 'The Biz'?</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>The Biz is a cloud-based small business accounting solution built on the founddation of finance: your bank.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
</div><!-- header wrapper-->

<div class="about-body">
		<div class="container">
				<div class="row">
					<div class="overview-content">
						<div class="col-md-6">
							<h4>Overview</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="main-button">
							  <div class="btn" "btn-lg">View Features</div>
							</div>

						</div>
				</div><!-- overview content -->
					<div class="col-md-6">
						<%=image_tag('banktel-wireframe.png', :size => '694x405')%>
					</div>
			</div><!-- row -->
		</div><!-- container-->
</div><!-- about body-->

