<% content_for :title do %>Contact<% end %>

<div class="header-wrapper about-header">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>The future of SMB accounting is here.</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Request a product demo, or simply stay in the loop for upcoming releases.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
</div><!-- header wrapper-->

<div class="about-body">
		<div class="container">
				<div class="row first-row">
					<div class="overview-content">
						<div class="col-md-6">
							<h4>Contact Us</h4>
							<div class="row">
							  <div class="col-xs-6 col-md-6">
							    <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name"  />
							  </div>
							  <div class="col-xs-6 col-md-6">
							    <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"  />
							  </div>
							  <div class="col-xs-6 col-md-6">
							    <input type="text" name="phonenumber" value="" class="form-control input-lg" placeholder="Phone Number"  />
							  </div>
							  <div class="col-xs-6 col-md-6">
							    <input type="text" name="company" value="" class="form-control input-lg" placeholder="Company email address"  />
							  </div>
							  <div class="col-xs-12 col-md-12">
							    <input type="text" name="demo" value="" class="form-control input-lg" placeholder="Request a Product Demo"  />
							  </div>
							  <div class="col-xs-12 col-md-12">
							    <input type="text" name="comments" value="" class="form-control input-lg comments-input" placeholder="Comments..."  />
							  </div>
							</div>	<!-- nested row-->						
							
							<div class="main-button">
							  <div class="btn" "btn-lg">Submit</div>
							</div>

						</div><!--col-md-6-->
				</div><!-- overview content -->

<div class="overview-content">
				<div class="col-md-1"></div>
					<div class="col-md-5">
						<h4>General Inquries</h4>
						<ul class="contact-links">
							<li>800.282.7657</li>
							<li>info@banktel.com</li>
							<li>@the_biz</li>
						</ul>
						<h4>Support</h4>
						<ul class="support-links">
							<li>800.282.7658</li>
							<li>support@banktel.com</li>
						</ul>
					</div>
				</div>
			</div><!-- row -->


		</div><!-- container-->
</div><!-- about body-->
<%= render 'layouts/footer' %>

