<% content_for :title do %>Contact<% end %>

<div class="header-wrapper about-header">
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>The future of SMB accounting is here.</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<p>Request a product demo, or simply stay in the loop for upcoming releases.</p>
					</div>
					<div class="col-md-2"></div>
				</div>
		</div>
</div><!-- header wrapper-->

<div class="about-body">
		<div class="container">
				<div class="row first-row">
					<div class="overview-content">
						<div class="col-md-7">
							<h4>Contact Us</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="main-button">
							  <div class="btn" "btn-lg">View Features</div>
							</div>

						</div>
				</div><!-- overview content -->
					<div class="col-md-5">
						<h4>General Inquries</h4>
						<ul class="contact-links">
							<li>800.282.7657</li>
							<li>info@banktel.com</li>
							<li>@the_biz</li>
						</ul>
						<h4>Support</h4>
						<ul class="support-links">
							<li>800.282.7658</li>
							<li>support@banktel.com</li>
						</ul>
					</div>
			</div><!-- row -->



		</div><!-- container-->
</div><!-- about body-->
<%= render 'layouts/footer' %>

