<% content_for :title do %>Modules<% end %>

<div class="wrapper">
	<div class="container">
		<div class="landing-content">
			<div class="row">
				<div class="col-md-12">
					<h3>Billpay, reimagined.</h3>
				</div>
			</div>

				<div class="row">
				<div class="col-md-12">
					<p>Introducing a smarter, cloud-based Small Business<br>
						solution built from the bank up.</p>
				</div>
			</div>
		</div><!-- landing content -->
		<div class="module-button">
			<div class="btn" "btn-lg">Learn more</div>
		</div>
	</div>
</div>

