<% content_for :title do %>Modules<% end %>

<div class="welcome">
	<%=image_tag('welcome.png', :size => '900x426')%>
</div>
<div class="section-1">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>Billpay, reimagined.</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>

					</div>
				</div>
				<div class="module-button">
					<div class="btn" "btn-lg">Learn more</div>
				</div>

			</div><!-- landing content -->
		</div>
</div>

<div class="section-2">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>Accounts Payable</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>

					</div>
				</div>
				<div class="module-button">
					<div class="btn" "btn-lg">Learn more</div>
				</div>

			</div><!-- landing content -->
		</div>
</div>

<div class="section-3">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>Accounts Receivable</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>

					</div>
				</div>
				<div class="module-button">
					<div class="btn" "btn-lg">Learn more</div>
				</div>

			</div><!-- landing content -->
		</div>
</div>

<div class="section-4">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>Budgeting</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>

					</div>
				</div>
				<div class="module-button">
					<div class="btn" "btn-lg">Learn more</div>
				</div>

			</div><!-- landing content -->
		</div>
</div>

<div class="section-5">
		<div class="container">
			<div class="landing-content">
				<div class="row">
					<div class="col-md-12">
						<h3>Accounts Receivable</h3>
					</div>
				</div>

					<div class="row">
					<div class="col-md-12">
						<p>Introducing a smarter, cloud-based Small Business<br>
							solution built from the bank up.</p>

					</div>
				</div>
				<div class="module-button">
					<div class="btn" "btn-lg">Learn more</div>
				</div>

			</div><!-- landing content -->
		</div>
</div>




