/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all

 *= require entypo-fonts
 *= require jquery.mobile
 *= require_tree .

 */


 @font-face {
  font-family:'OpenSans-Light';
  src:url(font-path('OpenSans-Light.ttf'));
}

 @font-face {
  font-family:'OpenSans-Regular';
  src:url(font-path('OpenSans-Regular.ttf'));
}


 @font-face {
  font-family:'OpenSans-Bold';
  src:url(font-path('OpenSans-Bold.ttf'));
}


 @font-face {
  font-family:'OpenSans-Semibold';
  src:url(font-path('OpenSans-Semibold.ttf'));
}



@font-face {
  font-family: 'entypo-social';
  src: url(font-path('fonts/entypo-social.eot'));
  src: url(font-path('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),url('fonts/entypo-social.woff') format('woff'),url('fonts/entypo-social.ttf') format('truetype'),url('fonts/entypo-social.svg#entypo-social') format('svg'));
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'entypo';
  src: url(font-path('entypo.eot'));
  src: url(font-path('entypo.eot?#iefix') format('embedded-opentype'),url('entypo.woff') format('woff'),url('entypo.ttf') format('truetype'),url('entypo.svg#entypo-social') format('svg'));
  font-weight: 400;
  font-style: normal;
}


/*---------------- GLOBAL STYLES -----------*/
html, body {
    margin: 0;
    padding: 0;
}



a {
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;

}
a:hover {
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;
}

.btn {
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;

}

.btn:hover {
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: none;
  outline: thin dotted \9;
  /* IE6-9 */
 
}

.header-wrapper {
background-color: #EEEEEE;
padding-bottom: 23px;
padding-top: 103px;

text-align: center;

}

.header-wrapper h3 p {
font-family:'OpenSans-Light';
color: #333;
}

.header-wrapper h3 {
font-size: 35px;
padding-top: 34px;
padding-bottom: 18px;

}
.header-wrapper p {
color: #333;
font-size: 20px;
line-height: 35px;
position: relative;
bottom: 7px;
padding: 0 75px;


}
.about-body {
background-color: #fff;
padding-top: 58px;

}

.about-body p {
color: #333;
color: #333;
font-size: 16px;
line-height: 25px;
padding-bottom: 36px;


}
.overview-content h4 {
font-size: 23px;
position: relative;
bottom: 3px;
letter-spacing: 1px;
padding-bottom: 39px;
}
.main-button .btn {
color: #28B4AB;
background-color: #fff;
border: 2px solid #28B4AB;
position: relative;
font-size: 16px;
font-weight: 600;
padding: 15px 17px;
}

.main-button .btn:hover {
background-color: #28B4AB;
color: #fff;
}

.opening-statement {
font-weight: bold;
}

.footer-top {
background-color: #28B4AB;
padding-top: 43px;

}

.footer-top h4 {
color: #fff;
font-size: 23px;
padding-bottom: 13px;
}

.footer-top p {
color: #fff;
font-size: 14px;
line-height: 24px;
padding-bottom: 46px;

}



.footer-bottom {
background-color: #fff;
padding-top: 52px;

}

.footer-bottom p {
color: #333;
line-height: 26px;
padding-bottom: 14px;


}

.footer-form {
padding-bottom: 65px;
}

a.footer-link {
color: #28B4AB;
text-decoration: none;
}

a.footer-link:hover {
color: #333;
text-decoration: none;

}


.powered-logo-footer {
float: left;
padding-bottom: 45px;

}

.copyright {
float: right;
position: relative;
right: 78px;
top: 7px;
}

.copyright p {
font-style: italic;
font-size: 12px;
}


/*---------------- ABOUT PAGE STYLES -----------*/

.first-row {
padding-bottom: 104px;

}

.second-row {
padding-bottom: 67px;
}

.banktel-wireframe {
position: relative;
top: 6px;
width: 100%;
height: auto;

}

.table {
position: relative;
top: 8px;
}


.table th {
color: #fff;
background-color: #28b4ab;
text-align: center;

}

/*---------------- CONTACT PAGE STYLES -----------*/

.overview-content li {
line-height: 40px;
font-size: 24px;
list-style-type: none;


}

.form-control.input-lg.comments-input {
height: 100px;
}

.contact-links {
padding-bottom: 60px;
}
.contact-links li {
color: #28b4ab;
position: relative;
right: 28px;

}

.support-links li {
position: relative;
right: 28px;

}

i.phone, i.mail { 
font-family: 'entypo';
font-style: normal;
font-size: 44px;
position: relative;
right: 14px;
}

i.twitter {
font-family: 'entypo-social';
font-style: normal;
position: relative;
right: 14px;

}

i.phone:before { 
content: "\1F4F1"; 
}

i.mail:before {
content: "\27A2";
}

i.twitter:before {
content: "\F309";
}



/*---------- LANDING PAGE ------------*/

/* Landing sections */

/**
 * fullPage 1.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
	
	
	/* Centered texts in each section 
	* --------------------------------------- */
	.section{
		text-align:center;
	}
	
	
	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
	#section4,
	#section5 {
		background-size: cover;
		display: table;
		width: 100%;
		height: 100%;

	}
	
	/* Defining each sectino background and styles 
	* --------------------------------------- */
	#section0{
		background-color: #fff;
		padding-top: 98px;
	}

	#section1{
		background-color: #28b4ab;
	}

	#section2{
		background-color: #58595B;
	}
	#section3{
		background-color: #7267B5;
	}

	#section4{
		background-color: #58595B;
	}
	#section5{
		background-color: #fff;
	}




 
 	/*Adding background for the slides
	* --------------------------------------- */
#superContainer {
    height: 100%;
    position: relative;
	
	/* Touch detection for Windows 8 */
	-ms-touch-action: none; 
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.scrollable {
    overflow: scroll;
}
.easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}


/*------------------*/

.landing-content {
/*	position: relative;
top: 530px;
*/	text-align: center;
	font-family:'OpenSans-Light';

}



.section-1 h3 {
font-size: 36px;
padding-bottom: 7px;
}

.module-button {
text-align: center;
margin-bottom: 50px;

}

.module-button .btn {
color: #28B4AB;
background-color: #fff;
border: 2px solid #28B4AB;
position: relative;
font-size: 16px;
font-weight: 600;
padding: 15px 33px;

}

.module-button .btn:hover {
background-color: #28B4AB;
color: #fff;
}


form {
text-align: center;
position: relative;
top: 354px;
}

h3.section-content  {
position: relative;
text-align: center;
/*padding-top: 62px;
*/padding-bottom: 37px;
font-size: 36px;
color: #fff;
}

.welcome {
background-color: #EFEFEF;
padding-top: 50px;
min-height: 300px;

}

.welcome.top-graph {
position: relative;
/*padding-top: 98px;
*//*	right: 3px;
*/
}
.section-1 {
	display: table;
	width: 100%;
	height: 100%;
	margin-top: 50px;


}
.section-1-subtext {
color: #000;
font-size: 19px;
letter-spacing: 1px;
line-height: 31px;
padding-bottom: 13px;


}

.accounts-payable {
position: relative;

}


#sign-in-subtext {
position: relative;
top: -46px;
}


.carousel-fade .item {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  left: 0 !important;
}

.carousel-fade .active {
  opacity: 1 !important;
}

.carousel-fade .left {
  opacity: 0 !important;
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important;
}

.carousel-fade .carousel-control {
  opacity: 1 !important;
}


.description-subtext p {
text-align: left;
position: relative;
font-size: 16px;
line-height: 27px;
margin-bottom: 1px;
color: #fff;

}



.section-button {
/*	position: relative;
top: 372px;
right: 53px;
*/
/*	position: absolute;
top: 488px;
right: 126px;
*/
float: left;
margin-top: 28px;


}

.section-button .btn {
padding: 14px 22px;
color: #fff;
border: 2px solid #fff;
font-size: 17px;
}

/* End Landing page */

/* SIGN IN PAGE */
.alert-success {
display: none;
}

.forgot-password  {
position: relative;
top: 196px;
text-align: center;
}

.forgot-password a {
padding: 15px 60px;
color: #97989A;
border: 1px solid #97989A;

}

.forgot-password a:hover {
text-decoration: none;
color: #28B4AB;
}

.sign-up {
display: none;
}

.subtext {
position: relative;
top: 61px;
line-height: 35px;
text-align: center;
}

.subtext p {
font-size: 22px;
color: #fff;
}

.sign-in-nav {
display: none;
}

.nav .navbar-nav .btn-lg {
color: #fff;
}

.biz {
position: relative;
bottom: 71px;

}

#module-biz {
position: relative;
top: 7px;
opacity: 1;
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;

}

#module-biz:hover {
opacity: 0.6;
transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-webkit-transition: .3s ease-in-out;

}


.notice {
position: relative;
top: 148px;
text-align: center;
}


.powered-by-box {
/*	position: relative;
top: 429px;
right: 37px;
*/
position: absolute;
bottom: 0;
right: 40px;
padding-bottom: 40px;
}


@media screen and (max-width: 767px) {
	.powered-by-box {
	position: relative;
	top: 229px;
	right: 37px;
	}

	.powered-logo {
	position: absolute;
	top: 0;
	right: 0;
	padding-bottom: 20px;
	}
}

/* ----- */



/*==================================================
=            	 Media Queries             =
==================================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */
.carousel-control {
display: none;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */

}

@media screen and (max-width: 767px) {


}

@media screen and (min-width: 600px) and (max-width: 991px) {
	.description-subtext p {
		text-align: center;
		padding: 0px 123px;

	}

}
@media screen and (max-width: 991px) {

	.description-subtext p {
		text-align: center;

	}

	.main-button {
		padding: 20px 0;
	}

.section-button {
	float: none;
}

/*.main-button {
	margin: 15px 0;
}
*/
.description-subtext {
	padding: 40px 40px 0px 40px;
	}

#section3 .description-subtext {
	padding: 0px 40px 40px 40px;
}

}

@media screen and (min-width: 992px) {


}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1400px) {
/* Styles */
.computer {
}


}

@media screen and (min-width: 1280px) {
	.banktel-wireframe {
	position: relative;
	top: 6px;
	width: 694px;
	height: auto;
	}
	.description-subtext {
	margin-top: 14%;
	}



}

@media only screen and (min-width : 1400px) {

	.section-3 .description-subtext {
		margin-top: 179px;
		position: relative;
		right: 13px;

	}

	.section-4 .description-subtext {
		margin-top: 98px; 
	}

	.card {
		position: relative;
/*		top: 60px;
*/		left: 36px;
	}

	.description-subtext {
	margin-top: 14%;
	}


/*	.card {
position: relative;
bottom: 73px;
width: 382px;
height: 439px;
float: left;
left: 30px;
}
*/
/*.computer-purple {
position: relative;
overflow: visible;
min-width: 1005px;
min-height: 600px;
bottom: 148px;
float: right;
left: 61px;
}
*/

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 100%;
    font-family:'OpenSans-Light';

}

.table-cell {
	display: table;
	vertical-align: middle;
	position: relative;
	width: 100%;
	height: 100%;

}

/*.top-graph img {
	max-width: 100% !important;
	display: block;
}*/