/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family:'OpenSans-Light';
  src:url(font-path('OpenSans-Light.ttf'));
}


.wrapper {
	height: 100%;
	width: 100%;
}


/* Landing Page */

.landing-content {
/*	position: relative;
	top: 530px;
*/	text-align: center;
	font-family:'OpenSans-Light';
}

.landing-content h3 {
	font-size: 36px;
	top: 26px;
	position: relative;
}

.landing-content p {
	position: relative;
	top: 32px;
	line-height: 31px;
	font-size: 19px;
}

form {
	text-align: center;
	position: relative;
	top: 354px;
}

.alert-success {
	display: none;
	}

.forgot-password  {
	position: relative;
	top: 196px;
	text-align: center;
}

.forgot-password a {
	padding: 15px 60px;
	color: #97989A;
	border: 1px solid #97989A;

}

.forgot-password a:hover {
	text-decoration: none;
	color: #28B4AB;
}

.sign-up {
	display: none;
}

.subtext {
position: relative;
top: 61px;
line-height: 35px;
text-align: center;
}

.subtext p {
	font-size: 22px;
	color: #fff;
}

.sign-in-nav {
	display: none;
}

.module-button {
	text-align: center;
}

.module-button .btn {
	color: #28B4AB;
	background-color: #fff;
	border: 2px solid #28B4AB;
	position: relative;
	top: 46px;
	right: 3px;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 33px;
	margin-bottom: 97px;
}

.module-button .btn:hover {
	background-color: #28B4AB;
	color: #fff;
}
.nav .navbar-nav .btn-lg {
	color: #fff;
}

.section-1 {
	background-color: #fff;
/*	padding-bottom: 627px;
*/
}

h3.section-content  {
	position: relative;
	top: 78px;
text-align: center;
font-size: 36px;

}


.welcome {
	background-color: #EFEFEF;
}

.section-2 {
	background-color: #28B4AB;
	height: 855px;

}

.section-2 h3, p {
	position: relative;
	color: #fff;
}

.section-3 {
	background-color: #58595B;
}

.section-3 h3, p {
color: #fff;
}


.section-4 {
	background-color: #7267B5;
}

.section-4 h3, p {
color: #fff;
}


.section-5 {
	background-color: #949599;
}

.section-5 h3, p {
color: #fff;
}

.section-1-subtext {
	color: #000;
}

.accounts-payable {
	position: relative;
	top: 132px;
	left: 37px;
	padding-bottom: 180px;

}


#sign-in-subtext {
	position: relative;
	top: -108px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: none;
  outline: thin dotted \9;
  /* IE6-9 */
 
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  left: 0 !important;
}

.carousel-fade .active {
  opacity: 1 !important;
}

.carousel-fade .left {
  opacity: 0 !important;
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important;
}

.carousel-fade .carousel-control {
  opacity: 1 !important;
}

.description-subtext p {
	text-align: left;
	position: relative;
	top: 316px;
	right: 75px;

}

.biz {
	position: relative;
	bottom: 71px;

}

#module-biz {
	position: relative;
	top: 7px;
}

.notice {
	position: relative;
	top: 148px;
	text-align: center;
}

.section-2-btn {
	position: relative;
	top: 322px;
	right: 186px;
}

.section-2-btn .btn-lg {
	color: #fff;
}

