/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family:'OpenSans-Light';
  src:url(font-path('OpenSans-Light.ttf'));
}

.wrapper {
	height: 100%;
	width: 100%;
}

/* Landing Page */

.landing-content {
	position: relative;
	top: 530px;
	text-align: center;
	font-family:'OpenSans-Light';
}

.landing-content h3 {
	font-size: 36px;
	top: 26px;
	position: relative;
}

.landing-content p {
	position: relative;
	top: 32px;
	line-height: 31px;
	font-size: 19px;
}