// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
  .navbar-nav {
  float: right;
  margin: 0;
  top: 0;
}
.navbar-inverse {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 0px;
border: none;
border-radius: 0px;
}


body {
  font-family:'OpenSans-light';
  background-color: #58595B;

}

h4 {
  font-size: 23px;
  letter-spacing: 1px;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  .nav > li {
  position: relative;
  right: 112px;
  top: 28px;
  letter-spacing: 1px;
  padding-right: 10px;
  display: block;
  font-size: 14px;
  }


main {
background-color: #58595B;
margin-top: 0px;
}

.navbar-nav {
  float: right;
  position: relative;
  left: 105px;
  margin: 0 7px;
  top: 15px;
}

.navbar-nav > li > a {
padding-top: 0px;
padding-bottom: 0px;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #28B4AB;
background-color: transparent;
}

li.log-out.btn-sm {
  background-color: #28b4ab;
  padding: 12px 7px;
  position: relative;
  top: 16px;
  right: 98px;
}

li.log-out.btn-sm a {
    color: #fff;

}

li.log-out.btn-sm:hover {
  color: #28b4ab;
  background-color: #fff;
}


input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
/*padding: 14px 43px;
margin-bottom: 10px;
*/
padding: 14px 14px;
margin-bottom: 10px;
width: 266px;

}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
padding: 16px 114px;
position: relative;
top: 2px;
background-color: #28B4AB;
border: 0px;
color: #fff;
}

.btn:hover, .submit:hover, .btn:focus, .submit:focus {
  color: #28B4AB;
  background-color: #fff;
  text-decoration: none;
}


label {
display: none;
}

.checkbox {
  display: none;
}

.navbar-inverse {
background-color: #EFEFEF;
border-color: #EFEFEF;
padding-bottom: 53px;
}

#user_email {}

.carousel-inner {
position: relative;
overflow: visible;
width: 100%;
}


.carousel-control.left {
  background-image: image-url("section-1-arrow-left.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 62px;
  top: 25%;
  left: 7%;
  background-size: 36px 62px;
  font-size: 0;


}

.carousel-control.right {
  background-image: image-url("section-1-arrow.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 62px;
  top: 25%;
  right: 7%;
  background-size: 36px 62px;
  font-size: 0;


}

.carousel-control.left.section {
  background-image: image-url("arrow-left.png");
  background-repeat: no-repeat;
  width: 69px;
  height: 66px;
  /*  top: 367px;
  */  
  top: 262px;
  left: 4%;
  background-size: 66px 62px;
  font-size: 0;


}

.carousel-control.right.section {
  background-image: image-url("arrow-right.png");
  background-repeat: no-repeat;
  width: 69px;
  height: 66px;
/*  top: 367px;
*/  
  top: 262px;
  right: 4%;
  background-size: 66px 62px;
  font-size: 0;


}


.carousel-indicators {
/* position: absolute; */
/* bottom: 10px; */
/* left: 50%; */
z-index: 15;
position: relative;
text-align: center;
/* width: 60%; */
/* margin-left: -30%; */
/* padding-left: 0; */
/* list-style: none; */
/* text-align: center; */
}

.carousel-indicators .active {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 1px 6px;
  text-indent: -999px;
/*  border: 1px solid white;
*/  
border: none;
border-radius: 10px;
  cursor: pointer;
background-color: #59585d;
}

.carousel-indicators li {
display: inline-block;
width: 6px;
height: 6px;
margin: 1px 6px;
text-indent: -999px;
border: 1px solid white;
border-radius: 10px;
cursor: pointer;
background-color: #fff;
}

.section-3 .carousel-indicators .active, .section-4 .carousel-indicators .active  {
  background-color: #28b4ab;
}

.alert-danger {
  margin-top: 20px;
background-color: #28B4AB;
border-color: #28B4AB;
color: #fff;
}


.btn, .submit {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
border-radius: 2px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
  border-top: 0;
  padding: 26px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  line-height: 20px;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

  padding: 24px;
  text-align: center;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 27px 9px;
font-size: 14px;
/* line-height: 1.428571429; */
color: #555555;
background-color: white;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-lg > .input-group-btn > .submit {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;

}

strong {
  font-family:'OpenSans-Semibold';
 font-weight: bold;
}
