// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
  .navbar-nav {
  float: right;
  margin: 0;
  top: 0;
}
.navbar-inverse {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 0px;
border: none;
}


body {
  font-family:'OpenSans-Light';
  background-color: #58595B;

}



// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  .nav > li {
  position: relative;
  right: 112px;
  top: 28px;
  letter-spacing: 1px;
  padding-right: 10px;
  display: block;
  font-size: 14px;
  }


main {
background-color: #58595B;
margin-top: 0px;
}

.navbar-nav {
  float: right;
  position: relative;
  left: 105px;
  margin: 0 7px;
  top: 15px;
}

.navbar-nav > li > a {
padding-top: 0px;
padding-bottom: 0px;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #28B4AB;
background-color: transparent;
}

li.log-out.btn-sm {
  background-color: #28b4ab;
  padding: 12px 7px;
  position: relative;
  top: 16px;
  right: 98px;
}

li.log-out.btn-sm a {
    color: #fff;

}

li.log-out.btn-sm a:hover {
  color: #28b4ab;
  background-color: #fff;
}
input, button, select, textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit;
padding: 14px 43px;
margin-bottom: 10px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
padding: 16px 114px;
position: relative;
top: 2px;
background-color: #28B4AB;
border: 0px;
color: #fff;
}

.btn:hover, .submit:hover, .btn:focus, .submit:focus {
  color: #28B4AB;
  background-color: #fff;
  text-decoration: none;
}


label {
display: none;
}

.checkbox {
  display: none;
}

.navbar-inverse {
background-color: #EFEFEF;
border-color: #EFEFEF;
padding-bottom: 53px;
}

#user_email {}

.carousel-control.left {
  background-image: url("section-1-arrow-left.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 62px;
  top: 26%;
  left: 9.5%;
  background-size: 36px 62px;
  font-size: 0;


}

.carousel-control.right {
background-image: url('section-1-arrow.png');
background-repeat: no-repeat;
width: 36px;
height: 62px;
top: 26%;
right: 9.5%;
background-size: 36px 62px;
font-size: 0;


}

.carousel-control.left.section {
  background-image: url("arrow-left.png");
  background-repeat: no-repeat;
  width: 69px;
  height: 66px;
  top: 367px;
  left: 4%;
  background-size: 66px 62px;
  font-size: 0;


}

.carousel-control.right.section {
  background-image: url("arrow-right.png");
  background-repeat: no-repeat;
  width: 69px;
  height: 66px;
  top: 367px;
  right: 4%;
  background-size: 66px 62px;
  font-size: 0;


}


.alert-danger {
  margin-top: 20px;
background-color: #28B4AB;
border-color: #28B4AB;
color: #fff;
}



