<% if user_signed_in? %>

<div class="footer">
  <div class="footer-top">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Powered by BankTEL</h4>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
          </div>

          <div class="col-md-6">
            <p><strong>Already using Banktel software at your bank?</strong><br> We are now accepting beta testers for this ground-breaking new product. <strong>Contact us</strong> for details.</p>
          </div>
        </div>
      </div><!--container-->

  </div><!--footer-top-->

  <div class="footer-bottom">
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>Stay In The Loop.<br>Sign up for timely product updates & releases direct from Banktel</p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Building On 20+ Years In Banking<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="col-md-6">
            <p>Visit banktel.com for more information.</p>
          </div>
        </div>
      </div><!--container-->

  </div><!--footer-top-->

</div><!--footer-->
<% end %>