<%# add navigation links to this file %>
<% if user_signed_in? %>
	<li class="dropdown"><%= link_to 'Modules', page_path('modules') %>
	<ul class="dropdown-menu">
	    <li><a href="http://localhost:3000/pages/modules/#secondPage">Accounts Payable</a></li>

	    <li><a href="http://localhost:3000/pages/modules/#thirdPage">Accounts Recievable</a></li>


	    <li><a href="http://localhost:3000/pages/modules/#fourthPage">Budgeting</a></li>


	    <li><a href="http://localhost:3000/pages/modules/#lastPage">Inventory</a></li>
	</ul>
</li>
	<li><%= link_to 'About', page_path('about') %></li>
	<li><%= link_to 'Contact', page_path('contact') %></li>
	<li class="log-out btn-sm"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
<% end %>
